.modal-title{
display: inline-block;
width:90%;
text-align: center;
text-transform: uppercase;
}

.modal-body{
padding-bottom: 50px;
}

.signup{
  text-decoration: none;
  text-transform: uppercase;
  float:right !important;
}

.sign-button{
  text-transform: uppercase;
}
