<div class="video-player">
  <div class="player-bg">
    <div class="player-wrapper">
      <!-- <video
       [src]=""
      (timeupdate)=""
      (ended)=""
      (canplay)=""
      #video
      autoplay
      class="player-viewer"
      ></video> -->

      <video
      [src]="playUrl"
      #video
      autoplay
      (canplay)="canplay()"
      (timeupdate)="updateBar()"
      (ended)="showReplayButton()"
        class="player-viewer"></video>

      <div class="slide">
        <div class="slide-top">
          <span class="collect" (click)="handleCollect()" [ngClass]="{'selected':selectedCol}">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-jinlingyingcaiwangtubiao24"></use>
            </svg>
          </span>
          <span class="support" (click)="handleSupport()" [ngClass]="{'selected':selectedSup}">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-zan2"></use>
            </svg>
          </span>
        </div>
        <div class="videoSrc">
          <span *ngFor="let src of videoInfo.videosrc" [ngClass]="{'select': selectedSrc===src.name}" (click)="swichSrc(src)">
            {{ src.name }}
          </span>
        </div>
      </div>
      <div class="player-controls">
        <a (click)="togglePlay()" class="player-button">
          {{ playIcon }}
        </a>
        <div class="progress">
          <div class="progress-bar" #progress (click)="updateProgress($event)">
            <span class="progress-rate" #progressBar></span>
          </div>
        </div>
        <span class="duration">
          <span class="curTime">
            {{ currentTime | durationFormat }}
          </span>
          {{ videoInfo.duration | durationFormat }}
        </span>

        <div class="player-volume">
          <svg [hidden]="volumeoff" class="icon" aria-hidden="true" (click)="volumeOff()">
            <use xlink:href="#icon-yinliang"></use>
          </svg>

          <svg [hidden]="!volumeoff" class="icon" aria-hidden="true" (click)="volumeOn()">
            <use xlink:href="#icon-volumeoff"></use>
          </svg>
          <div #volumeBar class="volume-bar" (click)="handleVolume">
            <span #volumeLevle class="volume-levle"></span>
          </div>
        </div>
        <div class="player-rate">
          <span class="current-value">{{ currentSpeed }}</span>
          <div class="select" *ngFor="let rate of wordSpeeds" (click)="handleSpeed(rate)">
            <span>
              {{ rate }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
